body.home {

  header.entry-header {
    display:none;
  }
  .entry-content {
    // Slider
    section.swiper-container {
      margin: 25px 0 !important;
      margin-bottom: 50px !important;
      .swiper-wrapper {
          .swiper-slide {
              min-height: 350px !important;
            }
          }
          .pagination {
            background-color: transparent;
            border: none;
            padding: 0;
            span.swiper-pagination-switch {
              background: $primary-color;
              width: 1em;
              height: 1em;
              opacity: 1;
              border: 2px solid white;
            }
      }
    }
    p {
      border-top: none !important;
      border-bottom: none !important;
      text-align: left !important;
      line-height: 0 !important;
      padding: 0 !important;

  }
  .ewd-slide {
      background-color: transparent !important;
      }
      h2 {
         border-top: 1px solid $color-darkgray;
         border-bottom: 1px solid $color-darkgray;
         text-align: center;
         font-weight: 400;
         margin-top: 25px;
         margin-bottom: 50px;
      }
      .columns-3 {
        ul.products {
          li.product {
            a {
              h3 {
                font-size: 1.5rem;
              }
              .star-rating {
                font-size: 2rem;
                span {
                  &:before {
                    color: gold;
                  }
                }
              }
              .price {
                font-size: 1.5rem;
                color: $primary-color !important;
              }
            }
            .button {
              background-color: $primary-color !important;
              border-radius: 4px;
              border-bottom: none;
              padding: .8em 1.41575em
            }
          }
        }
      }
      .appderma-mobil-promo {
        background-color: $primary-color;
        background-image: url('../img/iphone.jpg');
        background-repeat: no-repeat;
        background-position: bottom right;
        min-height: 300px;
        padding: 25px 35% 25px 25px;
        margin-bottom: 50px;
        text-align: left;
        h3 {
          color: white;
          font-size: 2.5rem;
          font-weight: 700;
        }
        p {
          font-size: 16px !important;
          color: white;
          line-height: 1.5rem !important;
        }
        ul.appderma-store-ico {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            width: 35%;
            display: inline-block;
            margin-right: 10px;
            a {
              img {
              }
            }
          }
        }
      }
      .appderma-brands {
        ul.brands {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            width: 22%;
            margin-right: 25px;
            display: inline-block;
          }
        }
      }
  }
}
