// 1. Colors
// ==========================================================================

$primary-color:              #8c9954 !default;
$primary-color-light-1:      #acbc69;
$primary-color-light-5:      #c5d776;
$secondary-color:            #504e4e;
$color-lightgray:            #a1a1a1;
$color-darkgray:             #504e4e;

// 2. Typography
// ==========================================================================

$primary-font:             'Raleway', sans-serif;

// 3 Global Styles
// ==========================================================================

body {
  font-family: $primary-font !important;
  .woocommerce-breadcrumb {
    background-color: transparent !important;
  }
}
